# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [143]:
# Your code here
import pandas as pd
ins_df=pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')

print(ins_df.head())
print(ins_df.shape)
ins_df.dtypes

ins_df["Customer Lifetime Value"]=ins_df["Customer Lifetime Value"].str.replace('%', '').astype(float)
ins_df["Number of Open Complaints"]=ins_df["Number of Open Complaints"].str.replace('1/', '')
ins_df["Number of Open Complaints"]=ins_df["Number of Open Complaints"].str.replace('/00', '')
print(ins_df.head())

#Customer Lifetime Value should be a float, Number of Open Complaints should be an integer.

ins_df.nunique()

print(" ")
print("It seems ST, GENDER, Education, Policy Type, and Vehicle Class should be categorical values, where Education, should be an ordinal variable and the rest nominal variables.")

income_range=ins_df["Income"].max()-ins_df["Income"].min()
income_range
claim_amount_range=ins_df["Total Claim Amount"].max()-ins_df["Total Claim Amount"].min()
claim_amount_range
premium_auto_range=ins_df["Monthly Premium Auto"].max()-ins_df["Monthly Premium Auto"].min()
premium_auto_range
lifetime_value_range=ins_df["Customer Lifetime Value"].max()-ins_df["Customer Lifetime Value"].min()
lifetime_value_range

print(" ")
print(f"For the numerical variables, customer lifetime value range is {lifetime_value_range}, income range is {income_range}, claim amount range is {claim_amount_range}, and premium auto range is {premium_auto_range}")

print(ins_df.describe())

ins_df["Number of Open Complaints"].value_counts()
#ins_df['Number of Open Complaints'].astype(int)

print(ins_df['ST'].value_counts())
#Most customers live in California and Oregon.

print(ins_df['Vehicle Class'].value_counts())
#Most customers own a Four-Door Car.

print(ins_df['GENDER'].value_counts())
#Most customers are female.

  Customer          ST GENDER             Education Customer Lifetime Value  \
0  RB50392  Washington    NaN                Master                     NaN
1  QZ44356     Arizona      F              Bachelor              697953.59%
2  AI49188      Nevada      F              Bachelor             1288743.17%
3  WW63253  California      M              Bachelor              764586.18%
4  GA49547  Washington      M  High School or Below              536307.65%

    Income  Monthly Premium Auto Number of Open Complaints     Policy Type  \
0      0.0                1000.0                    1/0/00   Personal Auto
1      0.0                  94.0                    1/0/00   Personal Auto
2  48767.0                 108.0                    1/0/00   Personal Auto
3      0.0                 106.0                    1/0/00  Corporate Auto
4  36357.0                  68.0                    1/0/00   Personal Auto

   Vehicle Class  Total Claim Amount
0  Four-Door Car            2.704934
1  Four-Door Car         1131.464935
2   Two-Door Car          566.472247
3            SUV          529.881344
4  Four-Door Car           17.269323
(4008, 11)
  Customer          ST GENDER             Education  Customer Lifetime Value  \
0  RB50392  Washington    NaN                Master                      NaN
1  QZ44356     Arizona      F              Bachelor                697953.59
2  AI49188      Nevada      F              Bachelor               1288743.17
3  WW63253  California      M              Bachelor                764586.18
4  GA49547  Washington      M  High School or Below                536307.65

    Income  Monthly Premium Auto Number of Open Complaints     Policy Type  \
0      0.0                1000.0                         0   Personal Auto
1      0.0                  94.0                         0   Personal Auto
2  48767.0                 108.0                         0   Personal Auto
3      0.0                 106.0                         0  Corporate Auto
4  36357.0                  68.0                         0   Personal Auto

   Vehicle Class  Total Claim Amount
0  Four-Door Car            2.704934
1  Four-Door Car         1131.464935
2   Two-Door Car          566.472247
3            SUV          529.881344
4  Four-Door Car           17.269323

It seems ST, GENDER, Education, Policy Type, and Vehicle Class should be categorical values, where Education, should be an ordinal variable and the rest nominal variables.

For the numerical variables, customer lifetime value range is 5616220.279999999, income range is 99960.0, claim amount range is 2892.857571, and premium auto range is 35293.0
       Customer Lifetime Value        Income  Monthly Premium Auto  \
count             1.068000e+03   1071.000000           1071.000000
mean              7.936903e+05  39295.701214            193.234360
std               6.434784e+05  30469.427060           1601.190369
min               2.004351e+05      0.000000             61.000000
25%               4.034080e+05  14072.000000             68.000000
50%               5.881742e+05  36234.000000             83.000000
75%               8.962872e+05  64631.000000            109.500000
max               5.816655e+06  99960.000000          35354.000000

       Total Claim Amount
count         1071.000000
mean           404.986909
std            293.027260
min              0.382107
25%            202.157702
50%            354.729129
75%            532.800000
max           2893.239678
ST
Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: count, dtype: int64
Vehicle Class
Four-Door Car    576
Two-Door Car     205
SUV              199
Sports Car        57
Luxury SUV        20
Luxury Car        14
Name: count, dtype: int64
GENDER
F         457
M         413
Male       39
female     28
Femal      17
Name: count, dtype: int64

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [39]:
import numpy as np

ins_df["ST"] = np.where(ins_df["ST"] == 'WA', 'Washington', ins_df["ST"])
ins_df["ST"] = np.where(ins_df["ST"] == 'AZ', 'Arizona', ins_df["ST"])
ins_df["ST"] = np.where(ins_df["ST"] == 'Cali', 'California', ins_df["ST"])

ins_df["ST"].unique()

state_count_df=ins_df["ST"].value_counts()
state_count_df.sort_values(ascending=True)

state_count_df

ST
California    331
Oregon        320
Arizona       211
Washington    111
Nevada         98
Name: count, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [17]:
ins_df["Policy Type"].unique()
total_policies_sold=sum(ins_df["Policy Type"].value_counts())

print("The total number of policies sold is:",total_policies_sold)
print(" ")
print("Total number of policies sold per type of policies: ",ins_df["Policy Type"].value_counts())
print(" ")
print("The policy type with the highest number of policies sold is:",ins_df["Policy Type"].value_counts().idxmax())

The total number of policies sold is: 1071

Total number of policies sold per type of policies:  Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64

The policy type with the highest number of policies sold is: Personal Auto

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [154]:

policytype_income_df=ins_df.loc[:,["Policy Type","Income"]]

personal_auto_income_df=policytype_income_df[policytype_income_df['Policy Type']=='Personal Auto']
personal_auto_income_df

corporate_auto_income_df=policytype_income_df[policytype_income_df['Policy Type']=='Corporate Auto']
corporate_auto_income_df

print("Customers with Personal Auto average income: ",personal_auto_income_df['Income'].mean().round(2))
print("Customers with Corporate Auto average income: ",corporate_auto_income_df['Income'].mean().round(2))

#Customers with a Corporate Auto policy have indeed, on average, a higher income than customers with Personal Auto policy.

Customers with Personal Auto average income:  38180.7
Customers with Corporate Auto average income:  41390.31

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [73]:

claim_amount_75percentile=ins_df['Total Claim Amount'].quantile(0.75)

print(f"75th percentile (quantile 0.75): {claim_amount_75percentile}")

75th percentile (quantile 0.75): 532.8

In [95]:
claim_amount_top25_df=ins_df[ins_df['Total Claim Amount']>532.8]
claim_amount_top25_df

print(claim_amount_top25_df.describe())
print(claim_amount_top25_df['Vehicle Class'].value_counts())
print(claim_amount_top25_df['ST'].value_counts())

#Most customers with a high policy claim amount drive an SUV and live on the West coast in Oregon and California.

             Income  Monthly Premium Auto  Total Claim Amount
count    264.000000            264.000000          264.000000
mean   23677.344697            165.193182          782.228263
std    27013.483721            623.930992          292.751640
min        0.000000             63.000000          537.600000
25%        0.000000             99.000000          606.521741
50%    18807.000000            114.000000          679.597985
75%    42423.750000            133.250000          851.400000
max    99316.000000          10202.000000         2893.239678
Vehicle Class
SUV              101
Four-Door Car     69
Two-Door Car      33
Sports Car        31
Luxury SUV        19
Luxury Car        11
Name: count, dtype: int64
ST
Oregon        90
California    86
Arizona       49
Nevada        29
Washington    10
Name: count, dtype: int64